*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(26, 26, 26);
    color: white;
}
div#largura{
    width: 85%;
    margin: auto;
}
/*----------------MENU-----------------------*/
header{
    position: fixed;
    width: 100vw;
    z-index: 1000;
}
nav{
    background-color: rgb(32, 32, 32);
    height: 60px;
}
.imgbl{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    margin-right: -10px;
    border: 2px solid black;
    margin-top: 5px;
    transition: 1s;
}
img:hover{
    filter: brightness(2);
}
.corpo #barra-lateral{
    overflow: hidden;
    height: auto;
    transition: max-height 1s ease;
    max-height: 0px;
    width: 250px;
    border-radius: 0px 0px 0px 30px;
    margin-left: auto;
}
.x #barra-lateral{
    background: #00000080;
    overflow: hidden;
    height: auto;
    transition: max-height 1s ease;
    max-height: 500px;
    width: 250px;
    position: relative;
    display: flex;
    margin-left: auto;
    flex-direction: row-reverse;
    border-radius: 0px 0px 0px 30px;
}
li#brr {
    width: 100%;
    background-color: #242424;
    border: 1px solid black;
    transition: 0.5s;
    font-size: 30px;
}
li#brr:hover{
    background-color: #3d3c3c;
}
.x .b-lateral{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.corpo .b-lateral{
    width: 100%;
    margin-left: auto;
}

ul#barras{
    list-style: none;
    float: right;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
li{
    display: inline-flex;
    line-height: 60px;
    padding: 0px 10px;
    height: 60px;
}
li a{
    text-decoration: none;
    color: white;
}

.corpo .hbg{
    margin: 10px 0px;
    cursor: pointer;
    transition: 1s ease;
}
.hbg:hover .hbg-1{
    background-color: #6a6a6a;
}
.hbg:hover .hbg-2{
    background-color: #6a6a6a;
}
.hbg:hover .hbg-3{
    background-color: #6a6a6a;
}
.corpo .hbg-1{
    width: 50px;
    height: 3px;
    background-color: white;
    margin-bottom: 10px;
    transition: 1s ease;
}
.corpo .hbg-2{
    width: 50px;
    height: 3px;
    background-color: white;
    margin-bottom: 10px;
    opacity: 1;
    transition: 1s ease;
}
.corpo .hbg-3{
    width: 50px;
    height: 3px;
    background-color: white;
    transition: 1s ease;
}
.x .hbg{
    margin: 10px 0px;
    transition: 1s ease;
    cursor: pointer;
    z-index: 2;
    margin-top: -1px;
}
.x .hbg-1{
    width: 50px;
    height: 3px;
    background-color: white;
    transform: rotate(-50deg) translateY(15px) translateX(-20px);
    transition: 1s ease;
    margin-bottom: 10px;
}
.x .hbg-2{
    width: 50px;
    height: 3px;
    background-color: white;
    transform: translateY(-30px);
    transition: 1s ease;
    margin-bottom: 10px;
    opacity: 0;
}
.x .hbg-3{
    width: 50px;
    height: 3px;
    transform: rotate(50deg);
    transition: 1s ease;
    background-color: white;
}
/*------------conteudo1--------------*/
@media (min-width:500px) {
   section#conteudo1{
    width: 60%;
    box-sizing: border-box;
    float: left;
    margin-bottom: 80px;

}
section#conteudo1 img#jose{
    width: 100%;
    height: 400px;
}
h1{
    padding: 70px 0px 25px 0px;
    font-size: 27pt;
    line-height: 40pt;
}
p.text{
    font-size: 15pt;
    line-height: 40px;
    margin:20px 0px;
    font-family: 'Microsoft Yahei Light';
}
/*--------formulario---------*/
form img{
    width: 50px;
    height: auto;
    float: left;
    margin: 9px;
}
textarea{
    height: 100px;
    width: 85%;
    border: none;
    padding: 7px;
    margin: 9px;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(32, 32, 32) ;
    color: white;
    outline: none;
    display: block;
    float: left;
}
h2{
    font-family: 'Microsoft Yahei Light';
    line-height: 80px;
    margin-bottom: 10px;
}
input[type=submit]{
    font-family: 'Arial Black', sans-serif;
    width: 220px;
    height: 52px;
    background-color:rgb(32, 32, 32) ;
    color: white;
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    float: right;
}
input[type=submit]:hover{
    background-color:rgb(255, 255, 255) ;
    color: rgb(32, 32, 32);
    border: 2px solid rgb(32, 32, 32);
}
/*------areacon]metario--------------*/
.comment-area{
box-sizing: border-box;
border-bottom: 1px solid gray;
clear: both;
padding: 10px;
word-break: break-word;
}
.comment-area img{
    float: left;
    height:50px;
    width: 50px;
    padding-right: 10px;
}
.comment-area h3{
    float: left;
    font-size: 12pt;
    color: white;
    padding: 5px 10px 5px 0px;
}
.comment-area h4{
    font-size: 10pt;
    color: white;
    line-height: 30px;
}
.comment-area h4 a{
    color: white;
}
.comment-area p{
    line-height: 25px;
} 
footer{
    position: fixed;
    text-align: center;
    color: white;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(32, 32, 32);
    height: 40px;
    padding: 1rem;
    font-size: 30px;
    width: 100vw;
}
footer a{
        text-decoration: none;
        float: none;
        color: aliceblue;
    }
    a{
        text-decoration: none;
        color: aliceblue;
    } 
}

@media (max-width:500px) {
    section#conteudo1{
        width: 100%;
        box-sizing: border-box;
        float: left;
        margin-bottom: 80px;
    }
    section#conteudo1 img#jose{
        width: 100%;
        height: 400px;
    }
    h1{
        padding: 70px 0px 25px 0px;
        font-size: 27pt;
        line-height: 40pt;
    }
    p.text{
        font-size: 15pt;
        line-height: 40px;
        margin:20px 0px;
        font-family: 'Microsoft Yahei Light';
    }
    /*--------formulario---------*/
    form img{
        width: 50px;
        height: auto;
        float: left;
        margin: 9px;
    }
    textarea{
        height: 100px;
        width: 85%;
        border: none;
        padding: 7px;
        margin: 9px;
        font-size: 14pt;
        font-family: Arial, Helvetica, sans-serif;
        background-color:rgb(32, 32, 32) ;
        color: white;
        outline: none;
        display: block;
        float: left;
    }
    h2{
        font-family: 'Microsoft Yahei Light';
        line-height: 80px;
        margin-bottom: 10px;
    }
    input[type=submit]{
        font-family: 'Arial Black', sans-serif;
        width: 220px;
        height: 52px;
        background-color:rgb(32, 32, 32) ;
        color: white;
        border: 2px solid rgb(255, 255, 255);
        cursor: pointer;
        display: block;
        float: right;
    }
    input[type=submit]:hover{
        background-color:rgb(255, 255, 255) ;
        color: rgb(32, 32, 32);
        border: 2px solid rgb(32, 32, 32);
    }
    /*------areacon]metario--------------*/
    .comment-area{
    box-sizing: border-box;
    border-bottom: 1px solid gray;
    clear: both;
    padding: 10px;
    word-break: break-word;
    }
    .comment-area img{
        float: left;
        width: 50px;
        padding-right: 10px;
    }
    .comment-area h3{
        float: left;
        font-size: 12pt;
        color: white;
        padding: 5px 10px 5px 0px;
    }
    .comment-area h4{
        font-size: 10pt;
        color: white;
        line-height: 30px;
    }
    .comment-area h4 a{
        color: white;
    }
    .comment-area p{
        line-height: 25px;
    } 
    footer{
        position: fixed;
        text-align: center;
        color: white;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background-color: rgb(32, 32, 32);
        height: 40px;
        padding: 1rem;
        font-size: 30px;
        width: 100vw;

    }
    footer a{
        text-decoration: none;
        float: none;
        color: aliceblue;
    }
    a{
        text-decoration: none;
        color: aliceblue;
    } 
}

/*--------------aside------------*/
@media (max-width:500px){
    section#conteudo2,section#conteudo3{
       display: none;
    }
    section#conteudo2 div,section#conteudo3 div{
        display: none;
    }
    section#conteudo2 img {
        display: none;
    }
}
@media (min-width:500px){
section#conteudo2,section#conteudo3{
    width: 40%;
    box-sizing: border-box;
    float: left;
}
section#conteudo2 div,section#conteudo3 div{
    width: 70%;
    background-color: rgb(12, 12, 12);
    border: 1px solid black;
    padding: 60px 20px;
    margin: 50px auto 0px auto;
    border-radius: 10px;
}
section#conteudo2 img {
    width: 75%;
    margin: auto;
    display: block;
    border-radius: 10px;

}
section#conteudo2 p, section#conteudo3 p{
    width: 70%;
    font-family: 'Microsoft Yahei Light';
    text-align: center;
    line-height: 20pt;
    margin: 20px auto;
}
section#conteudo3 h5{
    font-family: 'Microsoft Yahei Light';
    text-align: center;
    font-size: 16pt;
}
}
.disclaimer
{
    display:none;
}

